@model cadastro_de_dev.Models.Linguagem

@{
    ViewData["Title"] = "Cadastro de Linguagens";
}

<style>
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }

    a, a:link, a:hover, a:visited {
        text-decoration: none;
    }

    ul, ol, li {
        list-style: none;
    }

    body {
        background-color: #212121;
    }

    .global-home {
        margin: 60px auto;
        padding: 20px 30px;
        width: 100%;
    }

    label, span, button, h1, input, select, a {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.8;
    }

    label, span, button, input, select, a {
        font-size: 18px;
        font-weight: 500;
    }

    label, span, button, h1, a {
        color: #ffffff;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
    }

    button {
        background-color: #24B32B;
        padding: 10px 20px;
    }

    input, select {
        padding: 5px 3px;
        margin-right: 10px;
    }

    input {
        width: 99%;
    }

    a:hover {
        color: #ffffff;
    }

    @@media screen and (max-width: 400px) {
        select {
            margin: 10px 0 10px 0;
        }
    }

    @@media screen and (min-width: 800px) {
        .global-home {
            width: 710px;
        }

        input {
            width: 645px;
        }
    }
</style>
<div class="global-home">
    <div class="text-center">
        <h1>
            Cadastro de Linguagens
        </h1>
    </div>

    <form asp-action="Create" class="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mt-4">
            <label asp-for="NomeLinguagem" class="control-label">Nome da Linguagem</label>
            <input asp-for="NomeLinguagem" />
            <span asp-validation-for="NomeLinguagem" class="text-danger"></span>
        </div>
        <div class="mt-4 d-flex flex-row justify-content-around">
            <button type="submit" class="mt-4 mt-md-0">
                Cadastrar
            </button>
            <button type="reset" class="mt-4 mt-md-0">
                Limpar
            </button>
        </div>
    </form>
</div>
<div class="text-center mt-4">
    <button>
        <a asp-action="Index">Voltar</a>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}