@model cadastro_de_dev.Models.DesenvolvedorLinguagem

<h4>DesenvolvedorLinguagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DesenvolvedorLinguagemID" class="control-label"></label>
                <input asp-for="DesenvolvedorLinguagemID" class="form-control" />
                <span asp-validation-for="DesenvolvedorLinguagemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinguagemID" class="control-label"></label>
                <select asp-for="LinguagemID" class ="form-control" asp-items="ViewBag.LinguagemID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DesenvolvedorID" class="control-label"></label>
                <select asp-for="DesenvolvedorID" class ="form-control" asp-items="ViewBag.DesenvolvedorID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
