@model IEnumerable<cadastro_de_dev.Models.Desenvolvedor>

@{
    ViewData["Title"] = "Mostrar Desenvolvedores por Empresa";
}

<style>
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .bottom {
        margin: 0 10px 0 10px;
    }

    a, a:link, a:hover, a:visited {
        text-decoration: none;
    }

    ul, ol, li {
        list-style: none;
    }

    body {
        background-color: #212121;
    }

    span, li, h1, button, a {
        font-family: Arial, Helvetica, sans-serif;
        color: #ffff;
        font-size: 16px;
        font-weight: 500;
    }

    span, li, button, a {
        font-size: 16px;
        font-weight: 500;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
    }

    li {
        margin: 0 0 0 10px;
    }

    tr, td {
        color: white;
    }

    .table-center {
        border-collapse: separate;
        border-spacing: 80px 0;
        margin-bottom: 35px;
    }

    .global-list {
        margin: 60px auto;
    }

    .dev-info {
        border: 2px solid #d1cece;
        width: 100%;
        padding: 20px 10px;
    }

        .dev-info:not(#fist-dev) {
            margin: 40px 0 0 0;
        }

    button {
        background-color: #24B32B;
        padding: 10px 20px;
    }

    a:hover {
        color: #ffffff;
    }

    @@media screen and (min-width: 900px) {
        .global-list {
            width: 900px;
        }

        input {
            width: 870px;
        }
    }
</style>
<div class="global-list">
    <div id="first-dev" class="dev-info">
        <div class="text-center">
            <h1>
                Desenvolvedores na Empresa @ViewData["empresa"]
            </h1>
        </div>
        <br />
        <div class="text-center">
            <table class="table-center">
                <thead>
                    <tr>
                        <th>
                            Nome do Desenvolvedor
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Celular
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                            <span></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                            <span></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                            <span></span>
                        </td>
                     </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mt-4 d-flex flex-row justify-content-around">
    <button>
        <a asp-action="Index">Voltar</a>
    </button>
</div>
